<!-- Nathan -->
<div class="content-header">
    <div class="container-fluid">
       <div class="row mb-2">
          <div class="col-sm-6">
             <h1 class="m-0 text-bold">Data Beasiswa</h1>
          </div>
          <div class="col-sm-6">
             <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Beasiswa Data Page</li>
             </ol>
          </div>
       </div>
    </div>
 </div>
 
 <div class="content">
    <div class="container-fluid">
       <div class="content">
          <div class="container-fluid">
             <% if (typeof message !=='undefined' ) { %>
                <div id="alertMessage" class="alert alert-success">
                   <%= message %>
                </div>
                <% } %>
          </div>
       </div>
       <div class="card p-4">
          <div class="card-body">
             <table id="table-users" class="table table-bordered table-striped">
                <caption>List of Beasiswa</caption>
                <thead>
                   <tr class="text-center">
                      <th>NRP</th>
                      <th>Nama Mahasiswa</th>
                      <th>Nama Beasiswa</th>
                      <th>Jenis Beasiswa</th>
                      <th>Periode</th>
                      <th>Status</th>
                      <th>Action</th>
                   </tr>
                </thead>
                <tbody>
                   <% pengajuan.forEach(ajuan=> { %>
                      <tr>
                         <td>
                            <%= ajuan['User.userId'] %>
                         </td>
                         <td>
                            <%= ajuan['User.fullName'] %>
                         </td>
                         <td>
                            <%= ajuan['Beasiswa.namaBeasiswa'] %>
                         </td>
                         <td>
                            <%= ajuan['Beasiswa.jenisBeasiswa'] %>
                         </td>
                         <% if (ajuan.statusFakultas && ajuan.statusFakultas.trim()) { %>
                            <td>
                                <%= ajuan.statusFakultas %>
                            </td>
                        <% } else { %>
                            <td>
                                <%= ajuan.transkripAkademikDesc %><br>
                                <%= ajuan.suratPernyataanBeasiswaDesc %><br>
                                <%= ajuan.suratPelengkapDesc %><br>
                                <%= ajuan.suratRekomendasiDosenDesc %>
                            </td>
                        <% } %>                        
                            <div class="d-flex">
                               <form action="/fakultas/beasiswa/views/<%= ajuan.id %>" method="get">
                                  <button type="submit" class="btn btn-info mr-2 "><i class="fas fa-eye"></i></button>
                               </form>
                               <form action="/fakultas/beasiswa/edit/<%= ajuan.id %>" method="get">
                                  <button type="submit" class="btn btn-warning mr-2"><i class="fas fa-edit"></i></button>
                               </form>
                            </div>
                         </td>
                      </tr>
                      <% }) %>
                </tbody>
             </table>
          </div>
       </div>
    </div>
 </div>
 
 <script>
    document.addEventListener('DOMContentLoaded', function () {
       var alertElement = document.querySelector('.alert');
       if (alertElement) {
          setTimeout(function () {
             alertElement.style.display = 'none';
          }, 2000);
       }
    });
 </script>
 <!-- Nathan -->