<!-- Nathan -->
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0 text-bold">Data Pengaju Beasiswa</h1>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
               <li class="breadcrumb-item active">Beasiswa Data Page</li>
            </ol>
         </div>
      </div>
   </div>
</div>

<div class="content">
   <div class="container-fluid">
      <% if (typeof message !=='undefined' ) { %>
         <div id="alertMessage" class="alert alert-success">
            <%= message %>
         </div>
         <% } %>
            <div class="card p-4">
               <div class="card-body">
                  <table id="table-users" class="table table-bordered table-striped">
                     <caption>List of Beasiswa</caption>
                     <thead>
                        <tr class="text-center">
                           <th>NRP</th>
                           <th>Nama Mahasiswa</th>
                           <th>Nama Beasiswa</th>
                           <th>Periode</th>
                           <th>Jenis Beasiswa</th>
                           <th>Deskripsi</th>
                           <th>Status</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% pengajuan.forEach(ajuan=> { %>
                           <tr>
                              <td>
                                 <%= ajuan['User.userId'] %>
                              </td>
                              <td>
                                 <%= ajuan['User.fullName'] %>
                              </td>
                              <td>
                                 <%= ajuan['Beasiswa.namaBeasiswa'] %>
                              </td>
                              <td>
                                 <%= ajuan['Beasiswa.Periode.periode'] %>
                              </td>
                              <td>
                                 <%= ajuan['Beasiswa.jenisBeasiswa'] %>
                              </td>
                              <td>
                                 <% if (ajuan.ipkDesc && ajuan.ipkDesc.trim()) { %>
                                    <input type="radio" disabled>
                                    <label>
                                       <%= ajuan.ipkDesc %>
                                    </label><br>
                                    <% } %>
                                       <% if (ajuan.transkripAkademikDesc && ajuan.transkripAkademikDesc.trim()) { %>
                                          <input type="radio" disabled>
                                          <label>
                                             <%= ajuan.transkripAkademikDesc %>
                                          </label><br>
                                          <% } %>
                                             <% if (ajuan.suratPernyataanBeasiswaDesc &&
                                                ajuan.suratPernyataanBeasiswaDesc.trim()) { %>
                                                <input type="radio" disabled>
                                                <label>
                                                   <%= ajuan.suratPernyataanBeasiswaDesc %>
                                                </label><br>
                                                <% } %>
                                                   <% if (ajuan.suratPelengkapDesc && ajuan.suratPelengkapDesc.trim()) {
                                                      %>
                                                      <input type="radio" disabled>
                                                      <label>
                                                         <%= ajuan.suratPelengkapDesc %>
                                                      </label><br>
                                                      <% } %>
                                                         <% if (ajuan.suratRekomendasiDosenDesc &&
                                                            ajuan.suratRekomendasiDosenDesc.trim()) { %>
                                                            <input type="radio" disabled>
                                                            <label>
                                                               <%= ajuan.suratRekomendasiDosenDesc %>
                                                            </label>
                                                            <% } %>
                              </td>
                              <td>
                                 <%= ajuan.statusAplikasi %>
                              </td>
                              <td>
                                 <% if (ajuan.statusAplikasi && ajuan.statusAplikasi.trim()==="Approve" ) { %>
                                    <form action="/fakultas/approvalBeasiswa/<%= ajuan.id %>" method="post">
                                       <button type="submit" class="btn btn-success">Approve</button>
                                    </form>
                                    <% } else {%>

                                       <% }%>
                              </td>
                           </tr>
                           <% }) %>
                     </tbody>
                  </table>
               </div>
            </div>
   </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      var alertElement = document.querySelector('.alert');
      if (alertElement) {
         setTimeout(function () {
            alertElement.style.display = 'none';
         }, 2000);
      }
   });
</script>
<!-- Nathan -->