<!-- Nathan -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Update Fakultas Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/fakultas">Fakultas</a></li>
                    <li class="breadcrumb-item active">Update Fakultas Form</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <% if (typeof message !=='undefined' ) { %>
            <div id="alertMessage" class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>
                <div class="card p-4">
                    <form method="post" action="/fakultas/edit/<%= fakultas.id %>">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="fakultas_id">Id Fakultas</label>
                                <input type="hidden" class="form-control" id="fakultas_id" placeholder="72"
                                    value="<%= fakultas.fakultas_id %>" autofocus maxlength="20" name="fakultas_id">
                                <input type="text" class="form-control" id="fakultas_id" placeholder="72"
                                    value="<%= fakultas.fakultas_id %>" autofocus maxlength="20" name="fakultas_id"
                                    disabled>
                            </div>
                            <div class="form-group">
                                <label for="namaFakultas">Nama Fakultas</label>
                                <input type="text" class="form-control" id="namaFakultas" placeholder="Teknik"
                                    value="<%= fakultas.namaFakultas %>" name="namaFakultas" required autofocus
                                    maxlength="30">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                    </form>
                </div>
    </div>
</div>
</div>
</div>

<script>
    var alertElement = document.querySelector('.alert');
    setTimeout(function () {
        alertElement.style.display = 'none';
    }, 2000);
</script>
<!-- Nathan -->