<!-- Nathan -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="text-bold">Informasi Fakultas <%= Fakultas.namaFakultas %>
                </h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/fakultas">Fakultas</a></li>
                    <li class="breadcrumb-item active">Views Fakultas Page</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="content">
            <div class="container-fluid">
                <% if (typeof message !=='undefined' ) { %>
                    <div id="alertMessage" class="alert alert-success">
                        <%= message %>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="card p-4">
            <div class="card-title">

            </div>
            <div class="card-body">
                <table id="table-users" class="table table-bordered table-striped mb-5">
                    <h3 class="text-bold">Pejabat Fakultas</h3>
                    <thead>
                        <tr class="text-center">
                            <th class="w-50">Nama</th>
                            <th>Jabatan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <% if (user.role=='Fakultas' ) { %>
                                <tr>
                                    <td>
                                        <%= user.fullName %>
                                    </td>
                                    <td>
                                        <%= user.jabatan %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% }) %>
                    </tbody>
                </table>
                <table id="table-users" class="table table-bordered table-striped">
                    <h3 class="text-bold">List Of Program Studi</h3>
                    <caption>List Of Program Studi</caption>
                    <thead>
                        <tr class="text-center">
                            <th>Id Program Studi</th>
                            <th>Nama Program Studi</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% prodis.forEach(prodi=> { %>
                            <tr>
                                <td>
                                    <%= prodi.programStudi_id %>
                                </td>
                                <td>
                                    <%= prodi.namaProgramStudi %>
                                </td>
                                <td>
                                    <form action="/prodi/views/<%= prodi.fakultas_id %>" method="get">
                                        <button type="submit" class="btn btn-info mr-2 "><i
                                                class="fas fa-eye"></i></button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Nathan -->