<!-- Nathan -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Data Program Studi</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Program Studi Data Page</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="content">
            <div class="container-fluid">
                <% if (typeof message !=='undefined' ) { %>
                    <div id="alertMessage" class="alert alert-success">
                        <%= message %>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="card p-4">
            <div class="card-title d-flex justify-content-between align-items-center">
                <form action="/prodi/create" method="get">
                    <button type="submit" class="h2 btn btn-success text-bold">Tambah Program Studi</button>
                </form>
                <div class="form-group mb-0 ml-auto">
                    <label for="filterFakultas" class="mr-2">Filter by Fakultas:</label>
                    <select class="form-control d-inline-block w-auto" id="filterFakultas">
                        <option value="">All</option>
                        <% uniqueFakultas.forEach(fakultas=> { %>
                            <option value="<%= fakultas %>">
                                <%= fakultas %>
                            </option>
                            <% }) %>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <table id="table-users" class="table table-bordered table-striped">
                    <caption>List of Program Studi</caption>
                    <thead>
                        <tr>
                            <th>Id Program Studi</th>
                            <th>Nama Program Studi</th>
                            <th>Nama Fakultas</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% prodi.forEach(prodis=> { %>
                            <tr data-fakultas="<%= prodis.namaFakultas %>">
                                <td>
                                    <%= prodis.programStudi_id %>
                                </td>
                                <td>
                                    <%= prodis.namaProgramStudi %>
                                </td>
                                <td>
                                    <%= prodis.namaFakultas %>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <form action="/prodi/views/<%= prodis.fakultas_id %>" method="get">
                                            <button type="submit" class="btn btn-info mr-2">Views</button>
                                        </form>
                                        <form action="/prodi/edit/<%= prodis.id %>" method="get">
                                            <button type="submit" class="btn btn-warning mr-2">Edit</button>
                                        </form>
                                        <form action="/prodi/delete/<%= prodis.id %>" method="get"
                                            onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?');">
                                            <button type="submit" class="btn btn-danger ">Hapus</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var alertElement = document.querySelector('.alert');
        if (alertElement) {
            setTimeout(function () {
                alertElement.style.display = 'none';
            }, 2000);
        }

        document.getElementById('filterFakultas').addEventListener('change', function () {
            var selectedFakultas = this.value;
            var rows = document.querySelectorAll('#table-users tbody tr');

            rows.forEach(function (row) {
                if (selectedFakultas === "" || row.getAttribute('data-fakultas') === selectedFakultas) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>
<!-- Nathan -->