<!-- Nabilla -->
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0 text-bold">History Pengajuan Beasiswa</h1>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
               <li class="breadcrumb-item"><a href="/mahasiswa/statusPengajuan">Status Pengajuan Page</a></li>
               <li class="breadcrumb-item active">History</li>
            </ol>
         </div>
      </div>
   </div>
</div>

<div class="content">
   <div class="container-fluid">
      <% if (typeof message !=='undefined' ) { %>
         <div id="alertMessage" class="alert alert-success">
            <%= message %>
         </div>
         <% } %>
            <div class="card p-4">
               <div class="card-body">
                  <table id="table-users" class="table table-bordered table-striped">
                     <thead>
                        <tr class="text-center">
                           <th>Nama Beasiswa</th>
                           <th>Periode</th>
                           <th>Deskripsi</th>
                           <th>Jenis Beasiswa</th>
                           <th class="w-25">Status</th>
                           <th>Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% pengajuanHistory.forEach(pengajuan=> { %>
                           <tr>
                              <td>
                                 <%= pengajuan.Beasiswa.namaBeasiswa %>
                              </td>
                              <td>
                                 <%= pengajuan.Beasiswa.Periode.periode %>
                              </td>
                              <td>
                                 <% if (pengajuan.Beasiswa.deskripsi) { %>
                                    <textarea class="form-control" rows="5"
                                       readonly><%= pengajuan.Beasiswa.deskripsi %></textarea>
                                    <% } %>
                              </td>
                              <td>
                                 <%= pengajuan.Beasiswa.jenisBeasiswa %>
                              </td>
                              <td>
                                 <% if (pengajuan.statusFakultas && pengajuan.statusFakultas.trim()==="Approve" ) { %>
                                    <b>
                                       <%= pengajuan.statusFakultas %>,Pengajuan Beasiswa Diterima, Selamat!!!
                                    </b>
                                    <% } else if (pengajuan.statusAplikasi &&
                                       pengajuan.statusAplikasi.trim()==="Pending" ) {%>
                                       <%= pengajuan.statusAplikasi %>
                                          <% } %>
                              </td>
                              <td class="text-center">
                                 <div class="d-flex">
                                    <form action="/mahasiswa/daftarBeasiswa/views/<%= pengajuan.Beasiswa.id %>"
                                       method="get">
                                       <button type="submit" class="btn btn-info mr-2"><i
                                             class="fas fa-eye"></i></button>
                                    </form>
                                 </div>
                              </td>
                           </tr>
                           <% }) %>
                     </tbody>
                  </table>
               </div>
            </div>
   </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      var alertElement = document.querySelector('.alert');
      if (alertElement) {
         setTimeout(function () {
            alertElement.style.display = 'none';
         }, 2000);
      }
   });
</script>
<!-- Nabilla -->