<!-- Nabilla -->
<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0 text-bold">
               Status Pengajuan
            </h1>
         </div>
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
               <li class="breadcrumb-item"><a href="/mahasiswa/history">History</a></li>
               <li class="breadcrumb-item active">Status Pengajuan Page</li>
            </ol>
         </div>
      </div>
   </div>
</div>

<div class="content">
   <div class="container-fluid">
      <div class="content">
         <div class="container-fluid">
            <% if (typeof message !=='undefined' ) { %>
               <div id="alertMessage" class="alert alert-success">
                  <%= message %>
               </div>
               <% } %>
         </div>
      </div>
      <div class="card p-4">
         <div class="card-body">
            <table id="table-users" class="table table-bordered table-striped">
               <thead>
                  <tr class="text-center">
                     <th>Nama Beasiswa</th>
                     <th>Periode</th>
                     <th>Deskipsi</th>
                     <th>Jenis Beasiswa</th>
                     <th class="w-25">Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>
                        <%= pengajuan['Beasiswa.namaBeasiswa'] %>
                     </td>
                     <td>
                        <%= pengajuan['Beasiswa.Periode.periode'] %>
                     </td>
                     <td>
                        <textarea class="form-control" rows="15"
                           disabled><%= pengajuan['Beasiswa.deskripsi'] %></textarea>
                     </td>
                     <td>
                        <%= pengajuan['Beasiswa.jenisBeasiswa'] %>
                     </td>
                     <% if (pengajuan.statusFakultas && pengajuan.statusFakultas.trim()) { %>
                        <td>
                           <b>
                              <%= pengajuan.statusFakultas %>,Pengajuan Beasiswa Diterima, Selamat!!!
                           </b>
                        </td>
                        <% } else { %>
                           <td>
                              <% if (pengajuan.transkripAkademikDesc && pengajuan.transkripAkademikDesc.trim()) { %>
                                 <input type="radio" disabled>
                                 <label>
                                    <%= pengajuan.transkripAkademikDesc %>
                                 </label><br>
                                 <% } %>
                                    <% if (pengajuan.suratPernyataanBeasiswaDesc &&
                                       pengajuan.suratPernyataanBeasiswaDesc.trim()) { %>
                                       <input type="radio" disabled>
                                       <label>
                                          <%= pengajuan.suratPernyataanBeasiswaDesc %>
                                       </label><br>
                                       <% } %>
                                          <% if (pengajuan.ipkDesc && pengajuan.ipkDesc.trim()) { %>
                                             <input type="radio" disabled>
                                             <label>
                                                <%= pengajuan.ipkDesc %>
                                             </label><br>
                                             <% } %>
                                                <% if (pengajuan.suratPelengkapDesc &&
                                                   pengajuan.suratPelengkapDesc.trim()) { %>
                                                   <input type="radio" disabled>
                                                   <label>
                                                      <%= pengajuan.suratPelengkapDesc %>
                                                   </label><br>
                                                   <% } %>
                                                      <% if (pengajuan.suratRekomendasiDosenDesc &&
                                                         pengajuan.suratRekomendasiDosenDesc.trim()) { %>
                                                         <input type="radio" disabled>
                                                         <label>
                                                            <%= pengajuan.suratRekomendasiDosenDesc %>
                                                         </label>
                                                         <% } %>
                           </td>
                           <% } %>
                              <td>
                                 <div class="d-flex">
                                    <% if (pengajuan.statusFakultas && pengajuan.statusFakultas.trim()==="Approve" ) {
                                       %>

                                       <% } else { %>
                                          <form action="/mahasiswa/statusPengajuan/editPengajuan/<%= pengajuan.id %>"
                                             method="get">
                                             <button type="submit" class="btn btn-warning mr-2"><i
                                                   class="fas fa-edit"></i></button>
                                          </form>
                                          <form action="/mahasiswa/statusPengajuan/delete/<%= pengajuan.id %>"
                                             method="get"
                                             onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?');">
                                             <button type="submit" class="btn btn-danger mr-2"><i
                                                   class="fas fa-trash"></i></button>
                                          </form>
                                          <% } %>
                                 </div>
                              </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      var alertElement = document.querySelector('.alert');
      if (alertElement) {
         setTimeout(function () {
            alertElement.style.display = 'none';
         }, 2000);
      }
   });
</script>
<!-- Nabilla -->