<!-- Nathan -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Data Beasiswa</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Beasiswa Data Page</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="content">
            <div class="container-fluid">
                <% if (typeof message !=='undefined' ) { %>
                    <div id="alertMessage" class="alert alert-success">
                        <%= message %>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="card p-4">
            <div class="card-title d-flex justify-content-between align-items-center">
                <form action="/beasiswa/create" method="get">
                    <button type="submit" class="h2 btn btn-success text-bold">Tambah Beasiswa</button>
                </form>
            </div>
            <div class="card-body">
                <table id="table-users" class="table table-bordered table-striped">
                    <caption>List of Beasiswa</caption>
                    <thead>
                        <tr class="text-center">
                            <th>Nama Beasiswa</th>
                            <th class="w-50">Deskripsi Beasiswa</th>
                            <th>Jenis Beasiswa</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% beasiswas.forEach(beasiswa=> { %>
                            <tr>
                                <td>
                                    <%= beasiswa.namaBeasiswa %>
                                </td>
                                <td>
                                    <textarea class="form-control" rows="15"><%= beasiswa.deskripsi %></textarea>
                                </td>
                                <td>
                                    <%= beasiswa.jenisBeasiswa %>
                                </td>
                                <td>
                                    <div class=" d-flex">
                                        <form action="/beasiswa/edit/<%= beasiswa.id %>" method="get">
                                            <button type="submit" class="btn btn-warning mr-2"><i
                                                    class="fas fa-edit"></i></button>
                                        </form>
                                        <form action="/beasiswa/delete/<%= beasiswa.id %>" method="get"
                                            onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?');">
                                            <button type="submit" class="btn btn-danger"><i
                                                    class="fas fa-trash"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var alertElement = document.querySelector('.alert');
        if (alertElement) {
            setTimeout(function () {
                alertElement.style.display = 'none';
            }, 2000);
        }
    });
</script>
<!-- Nathan -->