<!-- Nathan -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Data Fakultas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Fakultas Data Page</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="content">
            <div class="container-fluid">
                <% if (typeof message !=='undefined' ) { %>
                    <div id="alertMessage" class="alert alert-success">
                        <%= message %>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="card p-4">
            <div class="card-title d-flex justify-content-between align-items-center">
                <form action="/fakultas/create" method="get">
                    <button type="submit" class="h2 btn btn-success text-bold">Tambah Fakultas</button>
                </form>
            </div>
            <div class="card-body">
                <table id="table-users" class="table table-bordered table-striped">
                    <caption>List of Fakultas</caption>
                    <thead>
                        <tr>
                            <th>Id Fakultas</th>
                            <th>Nama Fakultas</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Fakultas.forEach(fakultas=> { %>
                            <tr>
                                <td>
                                    <%= fakultas.fakultas_id %>
                                </td>
                                <td>
                                    <%= fakultas.namaFakultas %>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <form action="/fakultas/views/<%= fakultas.id %>" method="get">
                                            <button type="submit" class="btn btn-info mr-2">Views</button>
                                        </form>
                                        <form action="/fakultas/edit/<%= fakultas.id %>" method="get">
                                            <button type="submit" class="btn btn-warning mr-2">Edit</button>
                                        </form>
                                        <form action="/fakultas/delete/<%= fakultas.id %>" method="get"
                                            onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?');">
                                            <button type="submit" class="btn btn-danger ">Hapus</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var alertElement = document.querySelector('.alert');
        if (alertElement) {
            setTimeout(function () {
                alertElement.style.display = 'none';
            }, 2000);
        }
    });
</script>
<!-- Nathan -->