<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Users Form</title>
</head>

<body>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tambah Users Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/users">Users</a></li>
                        <li class="breadcrumb-item active">Tambah Users Form</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <% if (typeof message !=='undefined' ) { %>
                <div id="alertMessage" class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
                    <div class="card p-4">
                        <form method="post" action="/users/create">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="userId">User ID</label>
                                    <input type="text" class="form-control" id="userId" placeholder="2272039"
                                        name="userId" required autofocus maxlength="7">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="NathanRaphael"
                                        name="username" required autofocus maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="fullName">Nama Lengkap</label>
                                    <input type="text" class="form-control" id="fullName"
                                        placeholder="Nathan Raphael Pardamean Hutagalung" name="fullName" required
                                        autofocus maxlength="50">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" maxlength="30" class="form-control" id="email"
                                        placeholder="example@example.com" required name="email">
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" maxlength="15" class="form-control" id="Password"
                                        placeholder="Your Secret Code" required name="password">
                                </div>
                                <div class="form-group">
                                    <label for="confPassword">Confirm Password</label>
                                    <input type="password" maxlength="15" class="form-control" id="confPassword"
                                        placeholder="Your Secret Code" required name="confPassword">
                                </div>
                                <div class="form-group">
                                    <label for="role">Role</label>
                                    <select class="form-control" id="role" name="role" required>
                                        <option value="Fakultas">Fakultas</option>
                                        <option value="Program Studi">Program Studi</option>
                                        <option value="Mahasiswa">Mahasiswa</option>
                                    </select>
                                </div>
                                <div class="form-group" id="status" style="display:none;">
                                    <label for="status">Status</label>
                                    <select class="form-control" id="statusSelect" name="status">
                                    </select>
                                </div>
                                <div class="form-group" id="jabatan" style="display:none;">
                                    <label for="jabatan">Jabatan</label>
                                    <select class="form-control" id="jabatanSelect" name="jabatan">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="fakultas_id">Nama Fakultas</label>
                                    <select class="form-control" id="fakultas_id" required name="fakultas_id">
                                        <% fakultasList.forEach(fakultas=> { %>
                                            <option value="<%= fakultas.id %>">
                                                <%= fakultas.namaFakultas %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="form-group" id="prodi" style="display:none;">
                                    <label for="programStudi_id">Nama Program Studi</label>
                                    <select class="form-control" id="programStudi_id" name="programStudi_id">
                                        <% fakultasList.forEach(fakultas=> { %>
                                            <% fakultas.Programstudis.forEach(prodi=> { %>
                                                <option value="<%= prodi.id %>">
                                                    <%= prodi.namaProgramStudi %>
                                                </option>
                                                <% }); %>
                                                    <% }); %>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Tambah Users</button>
                            </div>
                        </form>
                    </div>
        </div>
    </div>

    <script>
        var alertElement = document.querySelector('.alert');

        setTimeout(function () {
            alertElement.style.display = 'none';
        }, 2000);
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var fakultasList = JSON.parse('<%- JSON.stringify(fakultasList) %>');

            var fakultasSelect = document.getElementById('fakultas_id');
            var prodiSelect = document.getElementById('programStudi_id');

            function listProgramStudi() {
                var fakultasValue = fakultasSelect.value;

                prodiSelect.innerHTML = '';

                fakultasList.forEach(function (fakultas) {
                    if (fakultas.id == fakultasValue) {
                        fakultas.Programstudis.forEach(function (prodi) {
                            var option = document.createElement('option');
                            option.value = prodi.id;
                            option.text = prodi.namaProgramStudi;
                            prodiSelect.appendChild(option);
                        });
                    }
                });
            }

            listProgramStudi();
            fakultasSelect.addEventListener('change', listProgramStudi);

            function jabatanList() {
                const roleSelect = document.getElementById('role');
                const jabatan = document.getElementById('jabatan');
                const prodi = document.getElementById('prodi');
                const status = document.getElementById('status');
                const jabatanSelect = document.getElementById('jabatanSelect');
                const programStudiSelect = document.getElementById('programStudi_id');
                const statusSelect = document.getElementById('statusSelect');

                if (roleSelect.value === 'Fakultas') {
                    jabatan.style.display = 'block';
                    prodi.style.display = 'none';
                    status.style.display = 'none';
                    programStudiSelect.value = "";
                    jabatanSelect.removeAttribute('disabled');
                    jabatanSelect.innerHTML = `
                        <option value="Dekan">Dekan</option>
                        <option value="Wakil Dekan">Wakil Dekan</option>
                    `;
                } else if (roleSelect.value === 'Program Studi') {
                    jabatan.style.display = 'block';
                    prodi.style.display = 'block';
                    status.style.display = 'none';
                    jabatanSelect.removeAttribute('disabled');
                    jabatanSelect.innerHTML = `
                        <option value="Ketua Program Studi">Ketua Program Studi</option>
                    `;
                } else if (roleSelect.value === 'Mahasiswa') {
                    status.style.display = 'block';
                    jabatan.style.display = 'none';
                    prodi.style.display = 'block';
                    jabatanSelect.innerHTML = '';
                    statusSelect.innerHTML = `
                        <option value="Aktif">Aktif</option>
                        <option value="Pasif">Pasif</option>
                    `;
                }
            }

            jabatanList();
            document.getElementById('role').addEventListener('change', jabatanList);
        });
    </script>
</body>

</html>