<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Data Users</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="users">Home</a></li>
                    <li class="breadcrumb-item active">Users Data Page</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="content">
            <div class="container-fluid">
                <% if (typeof message !=='undefined' ) { %>
                    <div id="alertMessage" class="alert alert-success">
                        <%= message %>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="card p-4">
            <div class="card-title">
                <form action="/users/create" method="get">
                    <button type="submit" class="h2 btn btn-success">Tambah Users</button>
                </form>
            </div>
            <div class="card-body">
                <table id="table-users" class="table table-bordered table-striped">
                    <caption>List of Users</caption>
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <% if (user.role !=='Admin' ) { %>
                                <tr>
                                    <td>
                                        <%= user.username %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.role %>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <form action="/users/edit/<%= user.id %>" method="get">
                                                <button type="submit" class="btn btn-warning mr-2">Edit</button>
                                            </form>
                                            <form action="/users/delete/<%= user.id %>" method="get"
                                                onsubmit="return confirm('Apakah Anda yakin ingin menghapus data ini?');">
                                                <button type="submit" class="btn btn-danger">Hapus</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- /.container-fluid -->
<!-- /.content -->

<script>
    var alertElement = document.querySelector('.alert');

    setTimeout(function () {
        alertElement.style.display = 'none';
    }, 2000);
</script>